{% extends 'base.html' %}
{% load static %}
{#{% load crispy_forms_field %}#}
{% block content  %}


{% load crispy_forms_tags %}
    <section class="callaction-area relative section-gap">
				<div class="overlay overlay-bg"></div>

        <div class="container">
       <div class="row justify-content-center">
<div class="col-lg-10">

</div>
</div>

				</div>
			</section>

<section class="schedule-area pb-100" id="schedule">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Submission Guidelines</h1>
								<p>{% now "jS F Y H:i" %}</p>

							</div>
						</div>
					</div>
		 <div class="row">

            <div class='col-sm-9 col-5'>
                <ol class="unordered-list">
<li><p>All submissions must be made in MSWord format.</li>
<li><p>The manuscript should not exceed 8,500 words (About 15 A-4 size pages typed in double space).</li>
<li><p>The cover page should bear only the title of the paper, name/s of author/s, their official address, E-mail ID, phone/fax numbers,  a brief biographical note of the author(s) and acknowledgements (if any).</li>
<li><p></p>Lastly, papers which focus on the Seminar theme by continent/country would be given top priority in the selection process.</li>
<li>
<p><p>The abstract should not exceed 500 words and should include</p>
<ul>
<li>
<p>Title, Background, Objectives, Methodology Findings/Results</p>
</li>
<li>
<p>The contributor(s) should kindly provide their name/s, affiliation, mailing address, E-mail and phone and fax number along with the Abstract.</p>
</li>
</ul>
</li>
                </ol>
                <ol class="unordered-list">
                    <li><p><b>Scope and Outline of the Seminar </b></p>
                        <p>
                    There are international principles for governing refugee situations. However, the refugee resettlement records of many countries show that their claim of upholding the principles is hollow when it comes to real refugee situations. The state policies would not reflect on the humanitarian basis of the international principles but will rely on narrow political interests. The injustice behind their forced uprooting from their homelands is not deliberated at the policy level. The refugees share so many similarities with other forced migrants. The present international seminar argues that a convergence of knowledge of  the issues faced by the people of both the domains will significantly help in improvising their social, psychological and economic reconstruction in the new region. With this view, the present seminar on Refugees, Welfare Policies  and the State  delineate the following sub-themes


                    </p>

                    <ul>
                        <li><p>Forced Migration and its different dimension</p>
<li><P>Migration, Displacement</P>
<li><P>Ethnography of the Neighborhood Rehabilitation of Displacees</P>
<li><P>Disaster Induced Migration</P>
<li><P>Climate Induced Migration</P>
<li><P>Social and Labor Market Integration of Asylum-seekers</P>
<li><P>Social Policy Issues for local authorities</P>
<li><P>Integration of Asylum seekers in education and vocational training</P>
<li><P>Cultural competence skills and migrants' access to social welfare and medical services</P>
<li><P>Educational and social exclusion of refugee minors</P>
<li><P>Undocumented migrants and stateless people</P>
<li><P>Citizenship, borders and Nation</P>
<li><P>Situation of migrant elders</P>
<li><P>Problems faced by Forced migrants with special reference to women</p></li>
                    </ul>
                    </li>
                </ol>


            </div>

        </div>
      </div>
      </div>
</section>


{% endblock %}