{% extends 'base.html' %}
{% load static %}
{% block content  %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-9 col-md-12">
							<h6>Department of sociology , University of Kerala</h6>
							<h1 class="text-white">
                                International Seminar on Refugees </h1> <h2 class="text-white"> Welfare Policies and the State</h2>


							</h2>
							<div class="countdown">
								<div id="timer" class="text-white"></div>
							</div>
							<h4><span class="lnr lnr-calendar-full"></span>  02nd - 06th December, 2019</h4>
							<h4><span class="lnr lnr-map"></span>  Senate Chamber, University of Kerala, Thiruvananthapuram.</h4>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start home-video Area -->
			<section class="home-video-area">
				<div class="container-fluid">
					<div class="row justify-content-end align-items-center">
						<div class="col-lg-4 no-padding about-right">
{#							<p class="top-title">Tutorial for beginner</p>#}
							<h1>About the seminar</h1>
{#							<p><span>We are here to listen from you deliver exellence</span></p>#}
							<p>
                                Department of Sociology, University of Kerala is organizing a five day International Seminar on “Refugee Welfare and State Policy” from December 2-6, 2019, at Senate Chamber, University of Kerala. The seminar will focus on themes related to issues of refugees and other forced migrants across the world.
                            </p>
						</div>
						<section class="video-area col-lg-6 no-padding">
							<div class="overlay overlay-bg"></div>
							<div class="containers">
								<div class="video-content">
									<img class="img-fluid" src="{% static "img/seminar.jpg" %}" alt="">
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
			<!-- End home-aboutus Area -->


			<!-- Start home-aboutus Area -->
			<section class="home-aboutus-area">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-8 no-padding about-left">
							<img class="img-fluid" src="{% static "img/campus.jpg" %}" alt="">
						</div>
						<div class="col-lg-4 no-padding about-right">
{#							<p class="top-title">24/7 Support system</p>#}
							<h1 class="text-white">Department of sociology , University of Kerala</h1>
{#							<p><span>We are here to listen from you deliver exellence</span></p>#}
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End home-aboutus Area -->

              <section class="price-area section-gap">
                  <div class="container">

                      <div class="row">
                          <div class="col-lg-3 col-md-6 single-price">
                              <div class="top-part">
                                  <h1 class="package-no">!!!</h1>

                                  <h4>Important Dates</h4>
                              </div>
                              <div class="package-list">
                                  <ul>
                                      <li>
                                          <p>Abstract last date: September 15, 2019</p>
                                      </li>
                                      <li>
                                          <p>Acceptance notification: September 20, 2019</p>
                                      </li>
                                      <li>
                                          <p>Paper submission: October 5th,2019</p>
                                      </li>
                                      <li>
                                          <p>Paper acceptance notification: October 15th, 2019</p>
                                      </li>
                                  </ul>
                              </div>
                              <div class="bottom-part">
                                  {#                          <h1>£199.00</h1>#}
                                  <a class="price-btn text-uppercase" href="#">Submit Paper</a>
                              </div>
                          </div>

                          <div class="col-lg-9  about-left">
                              <h1>Scope and Outline of the Seminar</h1>

                              <div >


                                  <blockquote class="generic-blockquote">There are international principles for governing refugee situations. However, the refugee resettlement records of many countries show that their claim of upholding the principles is hollow when it comes to real refugee situations. The state policies would not reflect on the humanitarian basis of the international principles but will rely on narrow political interests. The injustice behind their forced uprooting from their homelands is not deliberated at the policy level. The refugees share so many similarities with other forced migrants. The present international seminar argues that a convergence of knowledge of  the issues faced by the people of both the domains will significantly help in improvising their social, psychological and economic reconstruction in the new region. With this view, the present seminar on Refugees, Welfare Policies  and the State  delineate </blockquote>
                              </div>
                               <div class="col-lg-12">
                                  {#                          <h1>£199.00</h1>#}



                                   <div class="button-group-area mt-10">
<a href="#" class="genric-btn danger-border circle arrow">Download Broshure<span class="lnr lnr-arrow-down"></span></a>
<a href="#" class="genric-btn danger-border circle arrow">Download Abstract Example<span class="lnr lnr-arrow-down"></span></a>
<a href="#" class="genric-btn danger-border circle arrow">Publishing agreements<span class="lnr lnr-arrow-down"></span></a>
</div>
                               </div>
                          </div>

                      </div>
                  </div>
              </section>


{% endblock %}