{% load static %}
	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
{#		<link rel="shortcut icon" href="img/fav.png">#}
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Conference</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static "css/linearicons.css"%}">
			<link rel="stylesheet" href="{% static "css/font-awesome.min.css"%}">
			<link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
			<link rel="stylesheet" href="{% static "css/magnific-popup.css"%}">
			<link rel="stylesheet" href="{% static "css/nice-select.css"%}">
			<link rel="stylesheet" href="{% static "css/animate.min.css"%}">
			<link rel="stylesheet" href="{% static "css/owl.carousel.css"%}">
			<link rel="stylesheet" href=" {% static "css/main.css" %}">
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="{% url 'index' %}"><img src="{% static "img/logo.png" %}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="{% url 'index' %}">Home</a></li>
				          <li class="menu-has-children"><a href="#videos">Call for Paper</a>
                          <ul>
                                <li><a href="/guide">Submission Guideline</a></li>
                                <li><a href="/paper">Paper Submission</a></li>
                                <li><a href="#schedule">Important Dates</a></li>
                            </ul>
                          </li>

                            <li><a href="#">Committee</a></li>
                            <li><a href="#">Registration</a></li>
                            <li><a href="#">Venue</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>

				        </ul>
				      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

{% block content  %}
{% endblock %}
              <!-- Start callaction Area -->

			<!-- End callaction Area -->


			<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
								Department of Sociology, University of Kerala is organizing a five day International Seminar on “Refugee Welfare and State Policy” from December 2-6, 2019, at Senate Chamber, University of Kerala. The seminar will focus on themes related to issues of refugees and other forced migrants across the world.
								</p>
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Newsletter</h6>
								<p>Stay update with our latest</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
			                            	<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
			                            	<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>

										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->

			<script src="{% static  "js/vendor/jquery-2.2.4.min.js" %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static  "js/vendor/bootstrap.min.js" %}"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static  "js/easing.min.js"  %}"></script>
			<script src="{% static  "js/hoverIntent.js" %}"></script>
			<script src="{% static  "js/superfish.min.js" %}"></script>
			<script src="{% static  "js/jquery.ajaxchimp.min.js" %}"></script>
			<script src="{% static  "js/jquery.magnific-popup.min.js" %}"></script>
			<script src="{% static  "js/owl.carousel.min.js" %}"></script>
			<script src="{% static  "js/jquery.sticky.js" %}"></script>
			<script src="{% static  "js/jquery.nice-select.min.js" %}"></script>
			<script src="{% static  "js/parallax.min.js" %}"></script>
			<script src="{% static  "js/mail-script.js "%}"></script>
			<script src="{% static  "js/main.js" %}"></script>
		</body>
	</html>



